.volume_box {

    .lists {
        display: none;
    }

    &.is-open {
        .lists {
            display: block;
        }
    }
}

.theme .theme_2 {

    background: #f6ead2;

}

.theme .theme_3 {
    background: #eaf0e7;
}

.theme .theme_4 {
    background: #e8eff3;
}

.theme .theme_5 {
    background: #f5e4e4;
}

.theme .theme_6 {
    background: #e5e5e5;
}

.theme .theme_7 {
    background: #000;
}

.theme .theme_1 {

    background: #fff;
    border: #fb6b84 solid 1px;

}

.custom-theme {
    width: 25px;
    height: 25px;
    display: flex;
    border-radius: 50%;
    margin: -0.4rem 0.5rem 0 0;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: #ddd solid 1px;

    svg {
        display: none;
    }

    &.is-select {
        svg {
            display: block;
        }
    }
}

.line {
    font-size: 17px;
}