.dx-tag {
    position: relative;
    display: flex;
    align-items: center;

    &::after {
        display: block;
        content: '';
        margin: 0 16px;
        width: 1px;
        height: 12px;
        background-color: var(--dx-font2-color);
    }
}

.dx-tab {
    position: relative;
    color: var(--dx-font2-color);
}


.dx-tab--active {
    color: var(--dx-primary-color);

    &::after {
        display: block;
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        background-color: var(--dx-primary-color);
    }
}

.video-comment {


    &>.video-comment-content {

        .video-comment {
            padding: 0;
            margin-left: -20px;

            &.dx-hairline--bottom:after {
                display: none;
            }
        }
    }


    &:last-child {
        &.dx-hairline--bottom:after {
            display: none;
        }
    }

}

.fixed-footer {
    background-color: var(--dx-base1-color);
}

#comment-input {
    width: 100%;
    outline: 0;
    border: 0;
}